In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.read_csv("../v0.3/Sub_v0.3.csv")
s2 = pd.read_csv("../v1.1/Sub_v1.1.csv")
s3 = pd.read_csv("../v0.4/Sub_v0.4.csv")

In [3]:
s1.head(3)

          0         1         2         3
0  0.006008  0.006244  0.711419  0.276329
1  0.016405  0.023132  0.928492  0.031971
2  0.014886  0.065645  0.354355  0.565115

In [4]:
samp = (s1 * 0.2 + s2 * 0.8) * 0.6 + s3 * 0.4

In [5]:
samp.head()

          0         1         2         3
0  0.001971  0.017812  0.099328  0.880889
1  0.009115  0.008383  0.942316  0.040186
2  0.016736  0.013714  0.824655  0.144895
3  0.003095  0.018664  0.029281  0.948960
4  0.007694  0.003615  0.951200  0.037492

In [6]:
train = pd.read_csv("../../Train.csv")
test = pd.read_csv("../../Test.csv")

In [7]:
train.columns

Index(['Text_ID', 'Product_Description', 'Product_Type', 'Sentiment'], dtype='object')

In [8]:
test_ids = []
force_senti = []
for index,row in test.iterrows():
    temp = train[train['Product_Description'] == row['Product_Description']]
    temp = temp[temp['Product_Type'] == row['Product_Type']]
    if temp.shape[0] > 0:
        force_senti.append(list(set(temp['Sentiment'].tolist()))[0])
        test_ids.append(index)

In [9]:
dic = {0:[1,0,0,0],1:[0,1,0,0],2:[0,0,1,0],3:[0,0,0,1]}
for x,y in zip(test_ids,force_senti):
    #print(s1.iloc[x])
    target = dic[y]
    samp.iloc[x] = target
    #print(s1.iloc[x])

In [10]:
samp.head(3)

          0         1         2         3
0  0.001971  0.017812  0.099328  0.880889
1  0.009115  0.008383  0.942316  0.040186
2  0.016736  0.013714  0.824655  0.144895

In [11]:
samp.to_csv('Sub_v1.3.csv', index=False)