In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.read_csv("../v1.0/Sub_v1.0.csv")
s2 = pd.read_csv("../v0.4/Sub_v0.4.csv")
s2 = s2.rename(columns={'Class_0':'0','Class_1':'1','Class_2':'2','Class_3':'3','Class_4':'4','Class_5':'5'})
s3 = pd.read_csv("../v0.3/Sub_v0.3.csv")

In [3]:
s1.head()

          0         1         2         3         4         5
0  0.173937  0.298217  0.204547  0.147925  0.072549  0.102825
1  0.110133  0.122854  0.260203  0.273058  0.031954  0.201797
2  0.299126  0.243916  0.170125  0.101204  0.126056  0.059572
3  0.379295  0.182181  0.237015  0.087934  0.061090  0.052487
4  0.170127  0.290687  0.136362  0.092038  0.180256  0.130530

In [4]:
s1 = (s1 * 0.8 + s2 * 0.2) * 0.8 + s3 * 0.2

In [5]:
train = pd.read_csv("../../Train.csv")
test = pd.read_csv("../../Test.csv")

In [6]:
test_ids = []
force_senti = []
for index,row in test.iterrows():
    temp = train[train['Text'] == row['Text']]
    #temp = temp[temp['Text_Tag'] == row['Text_Tag']]
    if temp.shape[0] > 0:
        print(temp.shape)
        force_senti.append(list(set(temp['Labels'].tolist()))[0])
        test_ids.append(index)

(1, 3)
(1, 3)
(2, 3)
(1, 3)

In [7]:
dic = {0:[1,0,0,0,0,0],1:[0,1,0,0,0,0],2:[0,0,1,0,0,0],3:[0,0,0,1,0,0],4:[0,0,0,0,1,0],5:[0,0,0,0,0,1]}
for x,y in zip(test_ids,force_senti):
    #print(samp.iloc[x])
    target = dic[y]
    s1.iloc[x] = target
    #print(samp.iloc[x])

In [8]:
s1.head()

          0         1         2         3         4         5
0  0.191108  0.248477  0.196124  0.156171  0.097901  0.110219
1  0.113736  0.159836  0.235672  0.252732  0.038258  0.199766
2  0.257664  0.229760  0.165637  0.128482  0.104970  0.113487
3  0.317320  0.206074  0.232265  0.090564  0.082512  0.071265
4  0.170472  0.292705  0.148634  0.100051  0.152672  0.135465

In [9]:
s1.to_csv('Sub_v1.5.csv', index=False)